<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fxb.app.module.mapper.ModuleMapper">

  <resultMap id="module" type="org.fxb.app.module.domain.Module">
    <id property="moduleId" column="module_id" />
    <result property="moduleName" column="module_name" />
    <result property="regDate" column="reg_date" />
  </resultMap>

  <resultMap id="moduleObject" type="org.fxb.app.module.domain.Module">
    <id property="moduleId" column="module_id" />
    <result property="moduleName" column="module_name" />
    <result property="regDate" column="reg_date" />

    <collection property="moduleOptions" resultMap="org.fxb.app.module.mapper.ModuleOptionMapper.moduleOption"/>
  </resultMap>

  <select id="findAll" resultMap="module">
    SELECT * FROM module
  </select>

  <select id="findByModuleName" resultMap="module">
    SELECT * FROM module WHERE module_name = #{moduleName}
  </select>

  <select id="findOneByModuleId" resultMap="moduleObject">
    SELECT * FROM module M
    LEFT OUTER JOIN module_option O ON O.module_id = M.module_id
    WHERE M.module_id = #{moduleId}
  </select>

  <insert id="insert">
    INSERT INTO module (
    module_name,
    module_id,
    reg_date,
    ) VALUES (
    #{moduleName},
    #{moduleId},
    #{regDate},
    )
  </insert>

  <delete id="deleteByModuleId">
    DELETE FROM module
    WHERE module_id = #{moduleId}
  </delete>

</mapper>