<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fxb.app.module.mapper.OptionMapper">

  <resultMap id="option" type="org.fxb.app.module.model.BasicOption">
    <result property="moduleIdx" column="module_idx" />
    <result property="name" column="options_name" />
    <result property="value" column="options_value" />
    <result property="title" column="options_title" />
    <result property="order" column="options_order" />
  </resultMap>

  <select id="selectByModuleId" resultMap="option">
    SELECT * FROM module_options
    WHERE module_idx = #{moduleIdx}
  </select>

  <insert id="insert">
    INSERT INTO module_options (
      module_idx,
      option_name,
      option_value,
      option_title,
      option_order,
    ) VALUES (
      #{moduleIdx},
      #{name},
      #{value},
      #{title},
      #{order},
    )
  </insert>

  <update id="update">
    UPDATE module_options
      option_name = #{name},
      option_value = #{value},
      option_title = #{title},
      option_order = #{order}
    WHERE module_idx = #{moduleIdx}
  </update>

  <delete id="delete">
    DELETE FROM module_options WHERE module_idx = #{moduleIdx}
  </delete>

</mapper>