<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="org.fxb.boot.Bootstrapping" />

	<context:component-scan base-package="org.syaku" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
	</context:component-scan>


	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/views/" />
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="cache_storage">freemarker.cache.NullCacheStorage</prop>
				<prop key="auto_import">spring.ftl as spring</prop>
				<prop key="number_format">0.####</prop>
				<prop key="template_exception_handler">org.syaku.mei.core.exception.FreemarkerExceptionHandler</prop>
				<!--
				<prop key="template_update_delay">0</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="strict_syntax">true</prop>
				<prop key="tag_syntax">auto_detect</prop>
				<prop key="template_exception_handler">edu.calpoly.its.polyutils.freemarker.FreemarkerTemplateExceptionHandler</prop>
				<prop key="template_exception_handler">rethrow</prop>
				 -->
			</props>
		</property>
	</bean>
</beans>