
{
  "presets": [
    [
      "env", {
        "targets": { "browsers": [ "last 2 Chrome versions" ] }
      }
    ], "react", "stage-3"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-object-assign",
    "transform-runtime"
  ]
}